</body>
<div class="footer container-fluid">
  <a href="https://www.linkedin.com/in/ashenafi-abebaw-bb82a3202"><i class="fa-brands fa-linkedin"></i></a>
  <a href="https://github.com/ashenafiab"><i class="fa-brands fa-github"></i></a>
  <a href="https://alx-students.slack.com/team/U03TCE2DLNQ"><i class="fa-brands fa-slack"></i></a>
  <a href="https://discord.com/channels/@me"><i class="fa-brands fa-discord"></i></a>
  <a href="https://twitter.com/Ashenafiabebaw0?s=09"><i class="fa fa-twitter"></i></a>
</div>
</html>