<%- include('./partials/header', { user: user }); -%>
<div class="container ctr">
  <h1 class="accnthdr">About</h1>
  <p class="custom-content"> 
    <%= StartingAbout %> 
  </p>
</div>
<%- include('./partials/footer'); -%>
