<%- include('./partials/header'); -%>
<div class="container" id="all">
    <h1>Compose</h1>

    <form action="/compose" method="post">

        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" name="postTitle">
          </div>
          <div class="mb-3">
            <label class="form-label">Post</label>
            <textarea class="form-control" name="postBody" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Publish</button>

    </form>
  </div>
    <%- include('./partials/footer'); -%>