<%- include('./partials/header'); -%>

    <div class="container" id="all">
        <div class="signup-form">
            <h1 class="accnthdr">Sign Up</h1>
            <br>
            <form method="POST" action="/signup">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" id="firstName" name="firstName" class="form-control form-control-sm" required
                            placeholder="Enter your first name">
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" id="lastName" name="lastName" class="form-control form-control-sm" required
                            placeholder="Enter your last name">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control form-control-sm" required
                        placeholder="Enter your email">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control form-control-sm" required
                        placeholder="Enter your user name">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control form-control-sm" required
                        placeholder="Enter your password">
                </div>
                <br>
                <div class="txt-ctr">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </form>
            <br>
            <p class="txt-ctr">Already have an account? <a href="/login">Log in</a></p>
        </div>
    </div>

    <%- include('./partials/footer'); -%>